<% include ./partials/_header %>

<h3>My Resources</h3>

<div class="pinnednote   activity">
  <div class="name"></div>
  </div>
  
  <div class="pinned-content">
  <div class="instructions">
  <ul>
      <div><ol>
          <br>
          <% results.forEach(function (res){ %>
            <% var resID = res.id %><br>
            <li><a href= <%= res.url %>><%= res.url %></a> </a> 
              <% include ./partials/_resource-small %>

            </li>
             <%= res.description + " - " + "Topic: " + res.title %> <br> <a href= <%= '/resource/'+resID %>><%= "Like, Rate or Comment on Resource" %></a><br> 
               <% }) %>
              
      </div></ol>
  
    </ul>
</div>




<% include ./partials/_footer %>

