<!DOCTYPE html>
<html>
<head>
<% include ./partials/_header %>
<script language="JavaScript">
    function showInput() {
        document.getElementById('display').innerHTML =
                    document.getElementById("user_input").value;
    }
  </script>

</head>

<div class="pinnednote activity">

  <a href="<%= results.resource.url %>"><div class="name"><%= results.resource.title %></div></a>

  <span class="badge badge-warning user-details"><a href="/user/<%= results.user.id %>"><i class="fa fa-user"></i> <%= results.user.name %></a></span>
  <span class="badge badge-warning resource-details"><a href="/topic/<%= results.topic.id %>"><%= results.topic.name %></a></span>

</div>
<div class="pinned-content">
  <p><a href="<%= results.resource.url %>"><%= results.resource.url %></a></p>
  <p><%= results.resource.description %></p>

  <div class="reaction-wrapper">
  <span class="readout-likes"><%= results.likes %> people like this resource</span>
  <span class="readout-rating">Average rating: <%= results.rating %> (<%= results.numUsers %> users)</span>
  <br><br><br>
  <% if (typeof userID !== "undefined") { %>
    <form method=POST action='/resource/<%= results.resource.id %>/like'>
        <button class="btn navbar-btn btn-primary btn-like" type="submit" name="liked">
          <% if (results.userReaction && results.userReaction.liked) { %>
            <i class="fa fa-thumbs-o-down"></i> Unlike
          <% } else { %>
            <i class="fa fa-thumbs-o-up"></i> Like
          <% } %>
        </button>
    </form>
    <form method=POST action='/resource/<%= results.resource.id %>/rate'>
      <select class="btn navbar-btn btn-primary btn-rating" type='submit' onchange="this.form.submit()" name="rating">
        <% let rating = (results.userReaction && results.userReaction.rating) || 0 %>
        <option <%= (rating === 0) && "selected" %> disabled>Not Rated</option>
        <option <%= (rating === 1) && "selected" %> value="1">1 Duckies</option>
        <option <%= (rating === 2) && "selected" %> value="2">2 Duckies</option>
        <option <%= (rating === 3) && "selected" %> value="3">3 Duckies</option>
        <option <%= (rating === 4) && "selected" %> value="4">4 Duckies</option>
        <option <%= (rating === 5) && "selected" %> value="5">5 Duckies</option>
      </select>
    </form>
    </div>

    </div>

    <div class="card">
      <div class="card-header">Leave A Comment</div>
      <div class="card-body">
        <form method=POST action='/resource/<%= results.resource.id %>/comment'>
          <textarea class="comment-new" autofocus name="text" rows="8" cols="60"></textarea><br>
          <input class="btn navbar-btn btn-primary" type="submit" value="Submit">
        </form>
      </div>
    </div>
    <br>

  <% } else {%>
    </div>
  <% } %>



<% if (results.comments) { %>

  <% for (let r in results.comments) { %>
    <% const comment = results.comments[r] %>
    <% include ./partials/_comment %>
  <% } %>
<% } %>
<!-- <input type="submit" onclick="showInput();"><br/> -->

<% include ./partials/_footer %>
