<% include ./partials/_header %>

<div class="pinnednote activity">

  <a href="<%= results.resource.url %>"><div class="name"><%= results.resource.title %></div></a>
  <span class="badge badge-warning user-details"><a href="/user/<%= results.user.id %>"><i class="fa fa-user"></i> <%= results.user.name %></a></span>
  <span class="badge badge-warning resource-details"><a href="/topic/<%= results.topic.id %>"><%= results.topic.name %></a></span>

</div>
<div class="pinned-content">
  <p><a href="<%= results.resource.url %>"><%= results.resource.url %></a></p>
  <p><%= results.resource.description %></p>

  <% if (typeof userID !== "undefined") { %>
    <br>LIKES: <%= results.likes %>
    <br>RATING: <%= results.rating %> (<%= results.numUsers %> users)
    <form method=POST action='/resource/<%= results.resource.id %>/like'>
        <button type="submit" name="liked">
          <% if (results.userReaction && results.userReaction.liked) { %>
            <i class="fa fa-thumbs-o-down"></i> Unlike
          <% } else { %>
            <i class="fa fa-thumbs-o-up"></i> Like
          <% } %>
        </button>
    </form>
    <form method=POST action='/resource/<%= results.resource.id %>/rate'>
      <select style="float:right;" type='submit' onchange="this.form.submit()"  name="rating">
          <% let rating = (results.userReaction && results.userReaction.rating) || 0 %>
          <option <%= (rating === 0) && "selected" %> disabled></option>
          <option <%= (rating === 1) && "selected" %> >1</option>
          <option <%= (rating === 2) && "selected" %> >2</option>
          <option <%= (rating === 3) && "selected" %> >3</option>
          <option <%= (rating === 4) && "selected" %> >4</option>
          <option <%= (rating === 5) && "selected" %> >5</option>
        </select>
    </form>
    <form method=POST action='/resource/<%= results.resource.id %>/comment'>
      <textarea name="comment">add comment</textarea>
      <br><button type="submit">Submit Comment</button>
    </form>
  <!-- <div class="card" style="margin-top:30px;">
      <h5 class="card-header" id="feedback-form">Feedback</h5>
      <div class="card-body">
          <h5 class="card-title">Your Comments</h5>
          <div class="card-text">
              <div id="activity-feedback">
                  <ul class="list-unstyled">
                      <li class="activity-feedback media mb-2" id="curriculum-feedback-99682">
                          <div class="mr-3">

                          </div>
                          <div class="media-body">
                              <strong class="media-heading">
                              </strong>
                              <div class="content">
                                  <% if (results.comments) { %>

                                   <% for (let r in results.comment) { %>
                                    <%=  results[r].text %>
                                    console.log(results[r]);
                                  <%  } %>
                                  <% } %>
                                <% } %>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> -->

<% include ./partials/_footer %>
